[build]
  publish = "public"
  command = "hugo --minify"

[build.environment]
  HUGO_VERSION = "0.80.0"
  TZ = "Asia/Tokyo"

[context.production]
  environment = { HUGO_ENV = "production" }

[context.deploy-preview]
  command = "hugo -b $DEPLOY_URL --minify"
